body {
  border-color: #ffde7d;
  color: #00b8a9;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  max-width: 650px;
}
input,
button.btn-search,
button.btn-location {
  margin: 0 5px 0 0;
}
h1 {
  display: inline;
}
h2 {
  color: #f6416c;
  font-size: 1.05rem;
  font-weight: 500;
  margin: 0;
}
p {
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul:first-letter {
  text-transform: capitalize;
}
hr {
  margin: 11px;
}
.card {
  border-color: #ffde7d;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}

.card-body {
  padding: 5px;
}
#city-input {
  border-color: #ffde7d;
}
#city-input:focus {
  border-color: #ffde7d;
  box-shadow: 0 0 0 0.2rem rgb(255 222 125 / 25%);
}
.btn-search {
  border-color: #f6416c;
  color: #f6416c;
}
.btn-search:hover {
  background: #f6416c;
  border-color: #f6416c;
  transition: all 500ms ease;
}
.btn-search:active {
  border-color: #f6416c;
  background: #f6416c;
}
.btn-search:focus {
  box-shadow: 0 0 0 0.2rem rgb(246 65 108 / 25%);
}

.btn-location {
  border-color: #00b8a9;
  color: #00b8a9;
}
.btn-location:hover {
  background: #00b8a9;
  border-color: #00b8a9;
  transition: all 500ms ease;
}
.btn-location:active {
  border-color: #00b8a9;
  background: #00b8a9;
}
.btn-location:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 184 169 / 25%);
}
.btn-labels {
  border-color: #1a535c;
  color: #1a535c;
}
.btn-labels.active,
.btn-labels:hover {
  background-color: #1a535c;
  border-color: #1a535c;
  color: white;
}
.btn-unit-inputs:active + .btn-labels {
  color: white;
  background-color: #00b8a9;
  border-color: #00b8a9;
}

.btn-unit-inputs:focus + .btn-labels,
.btn-labels:focus {
  box-shadow: 0 0 0 0.2rem rgb(26 83 92 / 25%);
}

#country {
  font-size: small;
  font-style: italic;
}

.row {
  --bs-gutter-x: 5px;
}
.card-today h2 strong {
  font-size: 60px;
}
.weather-icon {
  color: #1a535c;
  font-size: 45px;
}
.icon {
  height: 70px;
  margin: -15px 0px;
}
.small-icon,
.temperatures-max {
  color: #1a535c;
  font-weight: 600;
}
#disclaimer {
  color: #f6416c;
  font-size: smaller;
  font-weight: 600;
  margin: -5px 0px 5px 0px;
}
.card-footer {
  background-color: #f8f3d4;
  border-top: 1px solid #ffde7d;
  display: block;
  font-size: small;
  text-align: center;
}
.github-link,
.github-link:visited {
  color: #1a535c;
}
